<html>
  <head>
    <title>React Programming Task</title>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>React Progamming Task</h1>
        <p class="lead">
          For more information, refer to the
          <a href="https://github.com/HarvestProfit/react-programming-task">
            Github repo
          </a>
        </p>
        <p class="lead">
          Or read the documentation on
          <a href="https://documenter.getpostman.com/view/2582145/RWMEMTg7">
            Postman
          </a>
        </p>
      </div>
    </div>
  </body>
</html>
